<nav class="drawer">
	<div class="avatar" style="background-image: url('https://gravatar.com/avatar/f3dd0ded549dbb87ed3eec61e2dbd2eb?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png')"></div>
	<ul>
		<li class="active" page="home"><a href="#home">Home</a></li>
		<li page="list"><a href="#list">This Week</a></li>
		<li page="stats"><a href="#stats">History</a></li>
		<li page="settings"><a href="#settings">Settings</a></li>
	</ul>
	<a href="#logout">Log Out</a>
</nav>
